body{
    background-image: url("logo.png");
    margin: 0;
    font-family: Source Sans Pro;
    color: white;
}
#wrap{
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}
#header{
    font-size: medium;
}
.alt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 0.55cm;
}

#main {
    background-color: #ffffff;
    color:#636363;
    border-radius: 0.75em;
}
#footer{
    font-size: small;
}
#main > .main {
    padding: 5em 5em 3em 5em;
    border-top: solid 1px #dddddd;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
  }
  
  th, td {
    padding: 10px;
  }